{% extends 'blank_page.html' %}
{% load static %}

    <!--  PAPER WRAP -->

<div class="wrap-fluid">
    <h1>121212121</h1>
</div>

{% block js %}
 
    <script src="{% static 'assets/js/flatvideo/jquery.fitvids.js' %}"></script>


    <script>
    // Basic FitVids Test
    $(".blog-list-nest").fitVids();
    // Custom selector and No-Double-Wrapping Prevention Test
    $(".blog-list-nest").fitVids();
    // Custom selector and No-Double-Wrapping Prevention Test
    </script>

{% endblock  %}

